.button {
    margin: 3.5px 0px 3.5px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #006097 ;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding:  8px 0;
    border-radius: 5px;
    border-color: transparent;
    height: 40px;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
  }
  
  .buttons {
    text-align: center;
  }

  .form{
    width: 384px;
    margin: auto;
  }