.iconList{
    list-style: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.iconList li {
    display: inline-block;
    height: 100%;
    flex: 1 100%;
}

a{
    color: black!important;
    &:hover{
        text-decoration: none!important;
    }
}

ul > li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child{
        display: none;
    }
}

.iconTitle{
    font-size: 10px;
    font-weight: bold;
}

.messageCount{
    border-radius: 50%;
    width: 15px;
    font-size: 10px;
    background-color: orange;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: 120px;
}

.linkedin{
    width: 40px !important;
  }
