.card {
    border: none;
    height: auto!important;
  }
  
  .cardBody{
    padding: 0 20px 20px 20px!important;
  }

  .wrapper{
    justify-content: center;
  }
  
  .title {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    color: black!important;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
  }

  .row {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
  }
  
  .cardHeader {
    padding: 7px 30px 0px 30px;
    background: none;
  }
  
  .link {
    color: #006097!important;
    font-size: 12px;
  }
  
  @media (min-width: 576) and (max-width: 992) {
  }
  
  @media (max-width: 575) {
    .card {
      margin-bottom: 25px;
    }
  }

  @media (min-width:768px) and (max-width:992px){
    .visitorWrapper{
        padding-left: 0!important;
    }
  }
  