.navBar {
    background: white;
    position: relative;
    z-index: 300;
    padding: 0;
    height: 70px;
  }

  .row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
  
  .togglerWrapper {
    display: flex;
  }

  .wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
  }

  .linkeDinLogoWrapper{
    display: flex;
  }

  .responsiveSearchBar{
    display: none;
    width: 100%;
    margin-top: 20px;
  }

  .linkedin{
    width: 40px !important;
  }
  
  @media (min-width: 768px) {
    .searchBarToggler {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .userBlock {
      display: none;
    }
  }

  @media (max-width: 768px - 1){
    .searchFormWrapper, .userBlockWrapper, .settingBarWrapper{
      display: none;
    }
    .responsiveSearchBar{
      display: block;
    }
  }

  @media (min-width:1201px){
    .linkeDinLogoWrapper{
      justify-content: flex-end;
    }
  }

  @media (min-width: 768px) and (max-width: 1201px) {
    .linkeDinLogoWrapper {
      justify-content: center!important;
    }
  }

  
  