.card {
    border-radius: 3px;
    border: none!important;
  }
  
  .black {
    background-color: darkgray;
    color: white;
  }
  
  /* Options */
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .rounder {
    border-radius: 6px;
  }
  