.courseWrapper{ 
    margin-bottom: 20px;
}

.video{
    margin-right:20px
}

.a{
  color: #006097!important;
}

.footer{
  background-color: white!important;
}

.row {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
  }

  .title{
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    color: black!important;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
  }
  

.button {
    color: black;
    opacity: 0.9;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  
  
    &:after {
      margin-left: 11px;
      font-size: 10px;
      opacity: 60%;
    }
  }

  .cardHeader{
      text-align: left;
      padding: 7px 30px 0px 30px;
      background: none;
  }
  
  .commandBlock {
    text-align: left;
    line-height: 14px;
    letter-spacing: -0.5px;
    display: inline-flex;
    align-items: center;
  
    & > * {
      font-weight: bold;
    }
  
    .message {
      display: block;
      font-size: 12px;
      color: black;
      margin-top: 8px;
      font-weight: 500;
    }
  }
  

  @media (min-width:768px) and (max-width:992px){
      .commandBlock{
          display: block;
      }

      .video{
          margin-bottom: 10px;
      }
  }