.label {
    height: 100%;
  }

  .input{
    border: 1px solid black!important;
  }
  
  @media (max-width: 992px) {
    .formGroup {
      margin-bottom: 25px;
    }
  
    .label {
      text-align: left;
    }
  
    .input {
      margin-top: 15px;
    }
  }
  