.linkedin{
    width: 85px;
    height: 20px;
}

.header{
    font-size: 28px;
    line-height: 1.33333;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    padding: 0 0 4px 0;
}

.subheading{
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    padding-bottom: 20px;
}

.pageWrapper{
    padding-top: 52px;
    text-align: center;
}

.container{
    flex: 1 0 auto;
}