.button {
    height: 100%;
    border: none;
    color: #fff !important;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 0;
  }
  