.row {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .button{
    display: flex;
    justify-content: space-between;
  }

  .questionsButton{
    background-color: #006097 ;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding:  8px 0;
    border-radius: 5px;
    border-color: transparent;
    width: 200px;
    font-size: 12px;
    padding: 10px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

.settingsButton{
    border-color: #006097;
    color: #006097;
    font-weight: 700;
    background-color: transparent;
    padding:  8px 0;
    border-radius: 5px;
    width: 200px;
    font-size: 12px;
    padding: 10px;
    font-weight: 600;
    padding: 5px 10px 5px 10px;
}

  .title{
    font-weight: bold;
    text-align: left;
    font-size: 12px;
    color: black!important;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
  }

  .cardHeader{
      text-align: left;
      padding: 7px 30px 0px 30px;
      background: none;
  }

.cardBody{
  padding: 0 1.25rem 0 1.25rem !important;
}

@media (max-width:576px){
    .row {
        justify-content: center;
      }
    .buttonWrapper{
      display: flex;
      justify-content: center;
    }
}
